# La  preparation des données

## 1.1  chargement des données
- csv file : pd.read_csv('chemin', sep=';', encoding = 'utf-8')
- excel file : pd.read_excel('chemin.xlsx' )
- sql :
       - import sqlite3
       - connec = sqlite3.connect3('base_de_donnes.db')
       - df = pd.read_sql_query("SELECT * FROM table", conn)

## 1.2 Exploration des données
- df.head() : premieres lignes
- df.tail: dernieres lignes
- df.info() : info sur les types et valeurs manquantes
- df.describe() : stat descriptives sur les colonnes numeriques
- df.columns : liste les colonnes
- df.dtypes : liste les types des colonnes

## 1.3 Nettoyage des données

### Gestion des valeurs manquantes 
    - df.dropna() : supprime les lignes avec NA
    - df.fillna(value = 0) : remplace les NA par O
    - df['col'].fillna(df['col'].mean(), inplace = True) : remplace les NA par la valeu des moyennes des valeurs de la colonne

### Suppression des doublons 
    - df.drop_duplicates(inplace = True) : supprimer les doublons afin d'éviter les biais dans les analyses 
    
### Transformation de types de donnés
    - df['col'] = pd.to_numeric(df['col'], erros = 'coerce') : convertir une colonne en numerique 
    - df['date_colonne'] = pd.to_datetime(df['date_colonne']) : convertir une colonne en datetime

## 1.4 Filtrage et selection des données

### Selection de colonnes 
   - df[['col1', 'col2']]

### Filtrer les lignes 
   - df[df['col'] > 20] : lignes ou valeur de col superieur á 20
   - df[(df['col1'] < 30) & (df['col2'] == 'valeur ') ] : plusieurs conditions sur les lignes

### Reindexer et reorganiser les données
    - df.reset_index(drop = True, inplace = True) : reindexer les lignes 
    - df[df['col2', 'col1', 'col3']] : reorganiser les colonnes

## 1.5 transformation des donnees

#### TRansformation de textes 
  - df['col'] = df['col'].str.lower() : passer en minuscule
  - df['new_col'] = df['col'].str[:5] : extraits les 5 premieres caracteres 


#### Binning
df['col'] = pd.cut(df['val'], bins = [0, 10 , 20 , 30], labels= ['petit', 'moyen', 'grand'])

In [20]:
#import pandas as pd
#import numpy as np

#df = pd.DataFrame({'revenues':np.array(np.arange(0, 30, ))})
#df = pd.cut(df['revenues'], bins = [-1, 10,  20, 30], labels =  ['small', 'short', 'high'])

### 2. Chargement csv

#### 2.1. Chargement de base d'un fichier CSV
    - gerer les en-tetes : pd.read_csv('chemin_.csv', header = None, names = ['col1', 'col2'] )
    - specifier colonnes á lire : pd.read_csv('chemin', usecols = ['', ''])
    - gestion types de données : pd.read_csv('chemin_.csv', dtype={'col1': 'int32', 'col2': 'float64'})
    - valeurs manquantes : pf.read_csv('chemin', na_values = ['NA', 'N/A', 'n/a'])
    - chargement partial : pd.read_csv('chemin', nrows = 1000)
    - lecteure par blocks : chunks = pd.read_csv('chemin', chunksize = 1000 )
                            print(chunks.head()) : 5 premieres lignes du bloc itere

In [39]:
#### 2.2 Temps de chargement :
import pandas as pd 
import time 
def mesurer_temps(file_csv, separateur = ";"):
    start_time = time.time() # Demare le chronometre
    df = pd.read_csv(file_csv, sep = separateur) # chargement csv
    end_time = time.time() # arret chronometre
    temps_total = end_time - start_time # calcul du temps ecoulé
    print(f"Le chargement du fichier a pris {temps_total:.4f} secondes.")
    return df

df = mesurer_temps('bod_livre124/NotebookJupyter/f04/sejour_hote.csv')
df.head()

Le chargement du fichier a pris 0.0086 secondes.

,id,nom_prenom,age,ville,note_sur_20,depense_loisir,surface_habitable,publicite_web,date_location
0,1,Alexandria Hernandez,71,Colmar,"12,99","3372,38","100,02",non,18/10/2024
1,2,Victor de la Denis,48,La Rochelle,"3,99","6313,1","39,79",non,12/08/2024
2,3,Margaux Guérin,41,Dijon,"10,33","4104,24","190,02",non,28/05/2024
3,4,Victoire Le Roux de la Roy,75,Argenteuil,"10,29","9132,04","57,9",oui,20/08/2024
4,5,Célina Philippe-Delorme,32,Nice,"19,92","3699,62","273,11",non,27/02/2024

$\textbf{timeit}$ pour plus de precision